<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "mtn"
    version     = "0.0.4" >
    
    <name>Flash &amp; Carry</name>
    
    <description>
        Flash &amp; Carry App
    </description>
    
    <icon src="img/logo.png" width="100" height="100" />
    
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="5000" />
    
    <content src="index.html" />
    <access origin="*" />
    
</widget>